{% extends 'auth.html' %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Settings</h5>
            </div>


            {% if request.user.is_superuser %}
                <div class="card-block">
                    <form method="post">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <input type="submit" value="Update">
                    </form>

                </div>
            {% else %}
                <h1>You are not a super user</h1>
            {% endif %}
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>
{% endblock %}
