
{% extends 'auth.html' %}
{% load crispy_forms_tags %}
{% block title %}Connect{% endblock %}
{% block content %}

{% if request.user.account_type %}

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h5>Connect</h5>
            </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="#" ><h5>Fortnox</h5></a>
                        </div>
                        <div class="col-sm-5">
                            <a href="{% url 'callback' %}" >Visma</a>
                        </div>
                    </div>
                    <form method="POST">

                        {% csrf_token %}

                         <div class="form-group col-md-6">
                              {{ form.sales_account_25|as_crispy_field }}
                         </div>

                        <div class="form-group col-md-6">
                              {{ form.sales_account_12|as_crispy_field }}
                         </div>

                        <div class="form-group col-md-6">
                              {{ form.sales_account_6|as_crispy_field }}
                         </div>

                        <div class="form-group col-md-6">
                              {{ form.start_date|as_crispy_field }}
                         </div>

                        <div class="form-group col-md-6">
                              {{ form.freight_account|as_crispy_field }}
                         </div>

                        <!--<div class="form-group  col-md-6">-->
                            <!--<input type="number" id="account_25" name="account_25" class="form-control" placeholder="Sales Account 25%" >-->
                        <!--</div>-->

                        <!--<div class="form-group col-md-6">-->
                            <!--<input type="number" id="account_12" name="account_12" class="form-control" placeholder="Sales Account 12%">-->
                        <!--</div>-->

                        <!--<div class="form-group col-md-6">-->
                            <!--<input type="number" id="account_6" name="account_6" class="form-control" placeholder="Sales Account 6%">-->
                        <!--</div>-->

                        <!--<div class="form-group col-md-6">-->
                            <!--<input type="text" id="freight_account" name="freight_account" class="form-control" placeholder="Freight Account">-->
                        <!--</div>-->

                        <!--<div class="form-group col-md-6">-->
                            <!--<input type="date" id="start_date" name="start_dates" class="form-control" placeholder="Start Date">-->
                        <!--</div>-->

                        <!--<div class="form-group col-md-6">-->
                        <input type="submit" class="btn btn-primary" value="Update">
                        <!--</div>-->

                    </form>
                </div>
        </div>
    </div>
</div>

{%else%}
<div class="row" style="margin-bottom: 30px;">
  <div class="col-sm-12">
    <h3 class="font-weight-bold">You are not connected.</h3>
      <h5>Please Connect: </h5>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <a href="{% url 'fortnoxauth' %}" ><button type="button" class="btn btn-success">Fortnox</button></a>
  </div>
  <div class="col-sm-6">
    <a href="#"><button type="button" class="btn btn-success">Visma</button></a>
  </div>
</div>
{%endif%}
{% endblock %}
