{% extends 'auth1.html' %}
{% load crispy_forms_tags %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Customer Settings</h5>
            </div>
                <div class="card-block">
                    <form method="post">
                        {% csrf_token %}

                         <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                              {{ form.customer_name|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                            {{ form.company_name|as_crispy_field }}
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ form.address|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                            {{ form.company_vat|as_crispy_field }}
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ form.zip_code|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                            {{ form.city|as_crispy_field }}
                          </div>
                        </div>

                        <!--<table>-->
                            <!--{{ form.as_table }}-->
                        <!--</table>-->


                        <input type="submit" class="btn btn-primary" value="Update">
                    </form>
                </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>
{% endblock %}
