{% extends 'auth1.html' %}
{% block title %}Settings{% endblock %}

{% block content %}
<form>
    <div class="form-row">
      <div class="col">
        <input type="text" name="first_name" class="form-control" placeholder="Full name">
      </div>
      <div class="col">
        <input type="text" name="last_name" class="form-control" placeholder="last name">
      </div>
    </div>
    <div class="form-group">
        <input type="text" name="address" class="form-control"  placeholder="Address">
      </div>
    <div class="form-row">
        <div class="col">
          <input type="text" name="company_name" class="form-control" placeholder="Company Name">
        </div>
        <div class="col">
          <input type="text" name="company_vat" class="form-control" placeholder="Company Vat ID">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <input type="text" name="zip_code" class="form-control" placeholder="Zip Code">
        </div>
        <div class="col">
          <input type="text" name="city" class="form-control" placeholder="City">
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Update">
</form>
{% endblock %}